<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <%- include ../partials/nav %>
      <% if (user) {%>
        <div class="jumbotron">
          <h2>Check out these spots!</h2>
          <p>Look through the places people have added and, if you're interested, add them to your personal checklist</p>
        </div>
        <div class="row">
          <div class="col-md-10">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Cuisine</th>
                  <th>Neighborhood</th>
                  <th>Website</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% restaurants.forEach(restaurant => { %>
                  <tr>
                    <%- include _show %>
                    <td>
                      <form action="/restaurants/<%= restaurant.rest_id %>" method="POST">
                      <label for="submit"></label>
                      <button class="btn btn-sm btn-default" id="submit" type="submit">Add to my list</button>
                      </form>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      <% } %>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
